<!DOCTYPE html>
<html>
<head>
  <title>SpazzaRubini</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
  <%= javascript_include_tag "http://s0.railsrumble.com/banner.js", "data-turbolinks-track" => true %>
</body>
</html>
